<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
  <div class="col-12 col-md-8 offset-md-2">
    <h3>Create a New Listing</h3>
    <form
      method="POST"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label"><b>Title</b></label>
        <input
          name="listing[title]"
          type="text"
          placeholder="Add a title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title is not valid!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"><b>Description</b></label>
        <textarea
          name="listing[description]"
          type="text"
          rows="5"
          cols="15"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description is not valid!</div>
      </div>

      <div class="mb-3">
        <label for="images" class="form-label">
          <b>Upload Listing Images</b></label
        >
        <input
          name="listing[images]"
          type="file"
          class="form-control"
          multiple
          accept="image/*"
          required
        />
      </div>

      <div class="mb-3">
        <label for="category" class="form-label"><b>Choose category </b></label>
        <select
          name="listing[category]"
          id="category"
          class="form-control"
          required
        >
          <option val="" disabled selected>Select a cateogry</option>
          <% for (cat of categories) { %>
          <option val="<%= cat %>"><%= cat %></option>
          <% } %>
        </select>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label"><b>Price</b></label>
          <input
            name="listing[price]"
            placeholder="50"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price is not valid!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label"><b>Country</b></label>
          <input
            name="listing[country]"
            type="text"
            placeholder="Pakistan"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country name is not valid!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label"> <b>Location</b></label>
        <input
          name="listing[location]"
          type="text"
          placeholder="Islamabad"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location is not valid!</div>
      </div>
      <div class="mb-3">
        <label for="cancellationPolicy" class="form-label"
          ><b>Cancellation Policy </b></label
        >
        <textarea
          name="listing[cancellationPolicy]"
          rows="5"
          cols="15"
          type="text"
          placeholder="Add your cancellation policy"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Cancellation Policy is not valid!</div>
      </div>

      <button class="btn btn-dark btn-add mt-3">Add</button>
    </form>
    <br /><br />
  </div>
</div>
